In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
pd.set_option('display.max_columns',None)
#os.chdir("/home/anubrata/Documents/datascience")
os.getcwd()

'/home/anubratadas/Documents/Aarti_Data_Linux/Final_Analysis'

In [2]:
arti_data=pd.read_excel("all_samples.xls")

In [3]:
arti_data.head()

,Position,REF,ALT,stm_1_S13,C_Cip,A_cip,cip_2B_S14,ntrc_gDNA_2,SCV_2,Repl2_244M,Change_type,Coverage,Warnings,Gene_ID,Gene_name,Bio_type,Trancript_ID,Exon_ID,Exon_Rank,Effect,old_AA/new_AA,Old_codon/New_codon,Codon_Num(CDS),Codon_Degeneracy,CDS_size,Codons_around,AAs_around,Custom_interval_ID,Unnamed: 28,Unnamed: 29
0,507,C,T,./.,1/1,1/1,1/1,./.,./.,1/1,SNP,4179.0,gene1,thrA,Transcript_gene1,Exon_NC_003197.2_336_2798,1,SYNONYMOUS_CODING,G/G,ggC/ggT,57,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,537,A,C,./.,1/1,1/1,1/1,./.,./.,1/1,SNP,4690.0,gene1,thrA,Transcript_gene1,Exon_NC_003197.2_336_2798,1,SYNONYMOUS_CODING,A/A,gcA/gcC,67,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,744,A,C,./.,1/1,1/1,1/1,./.,./.,1/1,SNP,5187.0,gene1,thrA,Transcript_gene1,Exon_NC_003197.2_336_2798,1,SYNONYMOUS_CODING,G/G,ggA/ggC,136,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,747,T,C,./.,1/1,1/1,1/1,./.,./.,1/1,SNP,5560.0,gene1,thrA,Transcript_gene1,Exon_NC_003197.2_336_2798,1,SYNONYMOUS_CODING,L/L,ctT/ctC,137,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,762,G,A,./.,1/1,1/1,1/1,./.,./.,1/1,SNP,5371.0,gene1,thrA,Transcript_gene1,Exon_NC_003197.2_336_2798,1,SYNONYMOUS_CODING,G/G,ggG/ggA,142,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
arti_data.groupby('Exon_ID')['Gene_ID'].count()

Exon_ID
1                         3010
CODON_INSERTION              1
FRAME_SHIFT                 11
NON_SYNONYMOUS_CODING     5491
NON_SYNONYMOUS_START         2
START_LOST                   4
STOP_GAINED                 25
STOP_LOST                    9
SYNONYMOUS_CODING        28830
SYNONYMOUS_START             2
SYNONYMOUS_STOP             27
Name: Gene_ID, dtype: int64

In [37]:
rev_df_1=arti_data.iloc[:,[0,10,12,13,14,15,17]]          # select only significant coloumns
cr_plt_dt=rev_df_1[rev_df_1.Change_type=="SNP"]           # select only SNPs as we want to map mutations in genes

In [38]:
cr_plt_dt.head()

,Position,Change_type,Warnings,Gene_ID,Gene_name,Bio_type,Exon_ID
0,507,SNP,gene1,thrA,Transcript_gene1,Exon_NC_003197.2_336_2798,SYNONYMOUS_CODING
1,537,SNP,gene1,thrA,Transcript_gene1,Exon_NC_003197.2_336_2798,SYNONYMOUS_CODING
2,744,SNP,gene1,thrA,Transcript_gene1,Exon_NC_003197.2_336_2798,SYNONYMOUS_CODING
3,747,SNP,gene1,thrA,Transcript_gene1,Exon_NC_003197.2_336_2798,SYNONYMOUS_CODING
4,762,SNP,gene1,thrA,Transcript_gene1,Exon_NC_003197.2_336_2798,SYNONYMOUS_CODING

In [39]:
cr_plt_dt.Change_type.unique(),cr_plt_dt.Bio_type.unique()

(array(['SNP'], dtype=object),
 array(['Exon_NC_003197.2_336_2798', 'Exon_NC_003197.2_2800_3729',
        'Exon_NC_003197.2_3733_5019', ...,
        'Exon_NC_003197.2_4855387_4856103',
        'Exon_NC_003197.2_4856739_4857425', 'Exon_NC_003277.2_32922_33959'],
       dtype=object))

In [40]:
# function to derive NCBI ids from Bio_type
def get_id(inpt):
    inpt_as_str=str(inpt)
    rev_str_inpt=inpt_as_str[8:16]
    if len(rev_str_inpt)>=0:
        return rev_str_inpt
bio_type=cr_plt_dt.Bio_type.map(get_id)

In [53]:
bio_type.name="NCBI_ID"

In [54]:
cr_plt_dt.shape, bio_type.shape,bio_type.unique()

((42952, 7),
 (42952,),
 array(['003197.2', '', 'pt_gene3', 'pt_gene9', 'pt_gene1', 'pt_gene2',
        'e240', 'e297', 'e313', 'e325', 'pt_gene4', 'pt_gene5', 'e559',
        'pt_gene6', 'pt_gene7', 'e789', 'pt_gene8', 'e1182', 'e1241',
        'e1244', 'e1470', 'e1549', 'e1662', 'e1929', 'e2002', 'e2131',
        'e2210', 'e2665', 'e2690', 'e2975', 'e3302', 'e3460', 'e3520',
        'e3530', 'e3655', 'e3810', 'e3948', 'e4458', '003277.2'],
       dtype=object))

In [55]:
df_circos=pd.concat([cr_plt_dt,bio_type],axis=1)

In [56]:
df_circos.columns

Index(['Position', 'Change_type', 'Warnings', 'Gene_ID', 'Gene_name',
       'Bio_type', 'Exon_ID', 'NCBI_ID'],
      dtype='object')

In [59]:
df_circos[df_circos.NCBI_ID=='e313'] # red flag: this should be intergenic

,Position,Change_type,Warnings,Gene_ID,Gene_name,Bio_type,Exon_ID,NCBI_ID
3448,359230,SNP,Gene_gene313,Gene_gene313,INTRAGENIC:,Gene_gene313,NaN,e313
3449,359236,SNP,Gene_gene313,Gene_gene313,INTRAGENIC:,Gene_gene313,NaN,e313
3450,359384,SNP,Gene_gene313,Gene_gene313,INTRAGENIC:,Gene_gene313,NaN,e313
3451,359529,SNP,Gene_gene313,Gene_gene313,INTRAGENIC:,Gene_gene313,NaN,e313
3452,359542,SNP,Gene_gene313,Gene_gene313,INTRAGENIC:,Gene_gene313,NaN,e313
3453,359603,SNP,Gene_gene313,Gene_gene313,INTRAGENIC:,Gene_gene313,NaN,e313
3454,359757,SNP,Gene_gene313,Gene_gene313,INTRAGENIC:,Gene_gene313,NaN,e313
3455,359839,SNP,Gene_gene313,Gene_gene313,INTRAGENIC:,Gene_gene313,NaN,e313
3456,359976,SNP,Gene_gene313,Gene_gene313,INTRAGENIC:,Gene_gene313,NaN,e313
3457,360078,SNP,Gene_gene313,Gene_gene313,INTRAGENIC:,Gene_gene313,NaN,e313
3458,360114,SNP,Gene_gene313,Gene_gene313,INTRAGENIC:,Gene_gene313,NaN,e313
3459,360150,SNP,Gene_gene313,Gene_gene313,INTRAGENIC:,Gene_gene313,NaN,e313

In [42]:
#cr_plt_dt.Bio_type.map(lambda x:str(x))

In [6]:
non_synonymous_genes=arti_data[arti_data.Exon_ID=="NON_SYNONYMOUS_CODING"]

In [7]:
pd.set_option('display.max_rows',None)
pd.value_counts(non_synonymous_genes.Gene_ID).sort_values(ascending=False).head()

STM4261    64
STM4489    21
ratA       20
slrP       19
STM0019    18
Name: Gene_ID, dtype: int64